<!DOCTYPE html>
<html>
  <head>
    <title>Craftsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home Page', '/' %>
    <% if !current_user %>
    <%= link_to 'Sign Up', new_user_registration_path  %>
    <%= link_to 'Sign In', new_user_session_path  %>


    <% else %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
      <%= link_to 'Edit/Delete Account', edit_user_registration_path %>
      <%= link_to "All Products", products_path %>
    <% end %>

    <% if current_user && current_user.admin %>
    <%= link_to "Add a Product", new_product_path %>
      <h1>You are AN ADMIN</h1>
    <% end %>
    <%= yield %>
  </body>
</html>
